.weatherForecast {
    display: flex;
    flex-flow: row;
    width: 100%;
    overflow-x: scroll;

    .card-details {
        margin: 10px;
        flex-shrink: 0;
    }
}

.wi.small {
    font-size: 1.2em;
}