.options {
    text-align: center;

    .search {
        border-radius: 10px;
        border: 0;
        padding: 10px;
        font-size: 1em;
        text-align: center;
        margin: 10px;
    }

    button {
        margin: 2px;
    }
}