h1 {
    font-size: 5em;
}

h1, h2 {
    font-weight: 300;
    line-height: 1em;
    margin: auto;
}
.card {
    background:  rgba(255,255,255,0.2);
    margin-top: 20px;
    padding: 10px; 
  }

  .wi {
      font-size: 3em;
  }